[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
  ignore = dirty
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
  ignore = dirty
[submodule "zsh/custom/plugins/alias-tips"]
	path = zsh/custom/plugins/alias-tips
	url = git@github.com:djui/alias-tips.git
  ignore = dirty
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
  ignore = dirty
[submodule "zsh/custom/plugins/linuxbrew"]
	path = zsh/custom/plugins/linuxbrew
	url = git@github.com:zpm-zsh/linuxbrew.git
  ignore = dirty
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
  ignore = dirty
[submodule "zsh/custom/plugins/zsh-nvm"]
	path = zsh/custom/plugins/zsh-nvm
	url = git@github.com:lukechilds/zsh-nvm.git
  ignore = dirty
[submodule "zsh/custom/plugins/zsh-better-npm-completion"]
	path = zsh/custom/plugins/zsh-better-npm-completion
	url = git@github.com:lukechilds/zsh-better-npm-completion.git
  ignore = dirty
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = git@github.com:anishathalye/dotbot.git
  ignore = dirty
[submodule "meta/dotbot-brew"]
	path = meta/dotbot-brew
	url = git@github.com:d12frosted/dotbot-brew.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-airline"]
	path = vim/pack/bundle/opt/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-airline-themes"]
	path = vim/pack/bundle/opt/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
  ignore = dirty
[submodule "vim/pack/bundle/start/indentLine"]
	path = vim/pack/bundle/opt/indentLine
	url = git@github.com:Yggdroot/indentLine.git
  ignore = dirty
[submodule "vim/pack/bundle/start/editorconfig-vim"]
	path = vim/pack/bundle/opt/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-devicons"]
	path = vim/pack/bundle/opt/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
  ignore = dirty
[submodule "vim/pack/bundle/start/ack.vim"]
	path = vim/pack/bundle/opt/ack.vim
	url = git@github.com:mileszs/ack.vim.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/nerdtree"]
	path = vim/pack/bundle/opt/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-polyglot"]
	path = vim/pack/bundle/opt/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-fugitive"]
	path = vim/pack/bundle/opt/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/pack/bundle/start/delimitMate"]
	path = vim/pack/bundle/opt/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-trailing-whitespace"]
	path = vim/pack/bundle/opt/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
  ignore = dirty
[submodule "vim/pack/bundle/start/emmet-vim"]
	path = vim/pack/bundle/opt/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-indent-object"]
	path = vim/pack/bundle/opt/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-surround"]
	path = vim/pack/bundle/opt/vim-surround
	url = git@github.com:tpope/vim-surround.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-unimpaired"]
	path = vim/pack/bundle/opt/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-eunuch"]
	path = vim/pack/bundle/opt/vim-eunuch
	url = git@github.com:tpope/vim-eunuch.git
  ignore = dirty
[submodule "vim/pack/bundle/start/gundo.vim"]
	path = vim/pack/bundle/opt/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-tmux-navigator"]
	path = vim/pack/bundle/opt/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
  ignore = dirty
[submodule "vim/pack/bundle/start/fzf.vim"]
	path = vim/pack/bundle/opt/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
  ignore = dirty
[submodule "zsh/custom/plugins/enhancd"]
	path = zsh/custom/plugins/enhancd
	url = git@github.com:b4b4r07/enhancd.git
  ignore = dirty
[submodule "zsh/custom/plugins/zsh-interactive-cd"]
	path = zsh/custom/plugins/zsh-interactive-cd
	url = git@github.com:changyuheng/zsh-interactive-cd.git
  ignore = dirty
[submodule "vim/pack/bundle/start/restore_view.vim"]
	path = vim/pack/bundle/opt/restore_view.vim
	url = git@github.com:vim-scripts/restore_view.vim.git
  ignore = dirty
[submodule "vim/pack/bundle/start/tcomment_vim"]
	path = vim/pack/bundle/opt/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-signify"]
	path = vim/pack/bundle/opt/vim-signify
	url = git@github.com:mhinz/vim-signify.git
  ignore = dirty
[submodule "vim/pack/bundle/start/xml.vim"]
	path = vim/pack/bundle/opt/xml.vim
	url = git@github.com:othree/xml.vim.git
  ignore = dirty
[submodule "vim/pack/bundle/start/ale"]
	path = vim/pack/bundle/opt/ale
	url = git@github.com:w0rp/ale.git
  ignore = dirty
[submodule "zsh/custom/plugins/base16-shell"]
	path = zsh/custom/plugins/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
  ignore = dirty
[submodule "vim/pack/bundle/start/base16-vim"]
	path = vim/pack/bundle/opt/base16-vim
	url = git@github.com:danielwe/base16-vim.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-easymotion"]
	path = vim/pack/bundle/opt/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
  ignore = dirty
[submodule "vim/pack/bundle/start/tabnine-vim"]
	path = vim/pack/bundle/opt/tabnine-vim
	url = git@github.com:zxqfl/tabnine-vim.git
  ignore = dirty
[submodule "zsh/custom/themes/powerlevel9k"]
	path = zsh/custom/themes/powerlevel9k
	url = git@github.com:bhilburn/powerlevel9k.git
  ignore = dirty
[submodule "vim/pack/bundle/start/ultisnip"]
	path = vim/pack/bundle/opt/ultisnip
	url = git@github.com:SirVer/ultisnips.git
  ignore = dirty
[submodule "vim/pack/bundle/start/FastFold"]
	path = vim/pack/bundle/opt/FastFold
	url = git@github.com:Konfekt/FastFold.git
  ignore = dirty
[submodule "vim/pack/bundle/start/vim-stay"]
	path = vim/pack/bundle/opt/vim-stay
	url = git@github.com:zhimsel/vim-stay.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/vim-rooter"]
	path = vim/pack/bundle/opt/vim-rooter
	url = git@github.com:airblade/vim-rooter.git
  ignore = dirty
[submodule "vscode/extensions/vscode-gitlens"]
	path = vscode/extensions/vscode-gitlens
	url = git@github.com:eamodio/vscode-gitlens.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/vim-hardtime"]
	path = vim/pack/bundle/opt/vim-hardtime
	url = git@github.com:takac/vim-hardtime.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/deoplete.nvim"]
	path = vim/pack/bundle/opt/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/nvim-yarp"]
	path = vim/pack/bundle/opt/nvim-yarp
	url = git@github.com:roxma/nvim-yarp.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/vim-hug-neovim-rpc"]
	path = vim/pack/bundle/opt/vim-hug-neovim-rpc
	url = git@github.com:roxma/vim-hug-neovim-rpc.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/deoplete-tabnine"]
	path = vim/pack/bundle/opt/deoplete-tabnine
	url = git@github.com:tbodt/deoplete-tabnine.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/deoplete-ternjs"]
	path = vim/pack/bundle/opt/deoplete-ternjs
	url = git@github.com:carlitux/deoplete-ternjs.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/tern_for_vim"]
	path = vim/pack/bundle/opt/tern_for_vim
	url = git@github.com:ternjs/tern_for_vim.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/deoplete-emoji"]
	path = vim/pack/bundle/opt/deoplete-emoji
	url = git@github.com:fszymanski/deoplete-emoji.git
  ignore = dirty
[submodule "vim/pack/bundle/opt/vim-multiple-cursors"]
	path = vim/pack/bundle/opt/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "zsh/custom/themes/powerlevel10k"]
	path = zsh/custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "vim/pack/bundle/opt/coc.nvim"]
	path = vim/pack/bundle/opt/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
	branch = release
