tmux/plugins/*
tmux/resurrect
!tmux/plugins/tpm
npm-debug.log
!.gitkeep
vscode/extensions/*

# Vim
vim/sessions/*
vim/tmp/*
vim/view/*

# Coc
vim/coc/*

brew/Basebrew.lock.json

tmux/plugins

nvim/undodir

bin/*
!bin/nc_listener
!bin/man-wrapper-for-tldr.sh
!bin/cat-wrapper-for-bat.sh
!bin/dot
